<a href="https://colab.research.google.com/github/n3rdankit/Data-Science-and-Machine-Learning/blob/main/Industrial_Human_Resource_Geo-Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Industrial_Human_Resource_Geo-Visualization

Steps

1. Loading the data
2. Descriptive Statistics
3. Data Cleaning
4. Data Analysis and Transformation

Load and Merge all the csv data file provided to you and create dataframe

In [1]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [46]:
import os

In [49]:
path_dir = '/content/drive/MyDrive/Data Sets/'
for files in os.listdir(path_dir):
  print(files)

DDW_B18_0800_NIC_FINAL_STATE_RAJASTHAN-2011.csv
DDW_B18_1400_NIC_FINAL_STATE_MANIPUR-2011.csv
DDW_B18st_1800_NIC_FINAL_STATE_ASSAM-2011.csv
DDW_B18st_0900_NIC_FINAL_STATE_UTTAR_PRADESH-2011.csv
DDW_B18st_2100_NIC_FINAL_STATE_ODISHA-2011.csv
DDW_B18_1900_NIC_FINAL_STATE_WEST_BENGAL-2011.csv
DDW_B18sc_2000_NIC_FINAL_STATE_JHARKHAND-2011.csv
DDW_B18sc_2400_NIC_FINAL_STATE_GUJARAT-2011.csv
DDW_B18sc_0700_NIC_FINAL_STATE_NCT_OF_DELHI-2011.csv
DDW_B18sc_2700_NIC_FINAL_STATE_MAHARASHTRA-2011.csv
DDW_B18st_0500_NIC_FINAL_STATE_UTTARAKHAND-2011.csv
DDW_B18sc_3300_NIC_FINAL_STATE_TAMIL_NADU-2011.csv
DDW_B18st_1100_NIC_FINAL_STATE_SIKKIM-2011.csv
DDW_B18sc_3200_NIC_FINAL_STATE_KERALA-2011.csv
DDW_B18sc_3400_NIC_FINAL_STATE_PUDUCHERRY-2011.csv
DDW_B18_1500_NIC_FINAL_STATE_MIZORAM-2011.csv
DDW_B18sc_1600_NIC_FINAL_STATE_TRIPURA-2011.csv
DDW_B18sc_2900_NIC_FINAL_STATE_KARNATAKA-2011.csv
DDW_B18st_1000_NIC_FINAL_STATE_BIHAR-2011.csv
DDW_B18_1200_NIC_FINAL_STATE_ARUNACHAL_PRADESH-2011.csv
DDW_B18st_1300_NIC_FINAL_STATE_NAGALAND-2011.csv
DDW_B18st_0200_NIC_FINAL_STATE_HIMACHAL_PRADESH-2011.csv
DDW_B18sc_3000_NIC_FINAL_STATE_GOA-2011.csv

In [60]:
FinalDf=pd.DataFrame()

for files in os.listdir(path_dir):
  DataFrame=pd.read_csv('/content/drive/MyDrive/Data Sets/' + files, encoding = 'ISO-8859-1')
  FinalDf=pd.concat([FinalDf,DataFrame])

In [58]:
FinalDf

,Table Name,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
0,B0118,`08,`000,STATE - RAJASTHAN,`00,`000,`0000,Total,9017944,7594737,...,618445,2307752,1046813,1260939,1825830,749381,1076449,481922,297432,184490
1,B0118,`08,`000,STATE - RAJASTHAN,`01,`000,`0000,"Crop and animal production, hunting and relate...",450766,201572,...,19810,408728,76106,332622,390864,71124,319740,17864,4982,12882
2,B0118,`08,`000,STATE - RAJASTHAN,`01,`011,`0000,Growing of non-perennial crops,12876,10547,...,1013,9562,4051,5511,8147,3295,4852,1415,756,659
3,B0118,`08,`000,STATE - RAJASTHAN,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",12061,9911,...,942,9085,3883,5202,7777,3161,4616,1308,722,586
4,B0118,`08,`000,STATE - RAJASTHAN,`01,`011,`0112,Growing of rice,79,71,...,2,13,4,9,11,2,9,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1060,B0218SC,`30,`586,District - South Goa,`99,`000,`0000,Activities of extraterritorial organizations a...,116,58,...,44,114,34,80,26,6,20,88,28,60
1061,B0218SC,`30,`586,District - South Goa,`99,`991,`0000,Blank,104,58,...,32,108,28,80,26,6,20,82,22,60
1062,B0218SC,`30,`586,District - South Goa,`99,`991,`9910,Blank,104,58,...,32,108,28,80,26,6,20,82,22,60
1063,B0218SC,`30,`586,District - South Goa,`99,`992,`0000,Incomplete description/ Wrongly Classifed,12,0,...,12,6,6,0,0,0,0,6,6,0
1064,B0218SC,`30,`586,District - South Goa,`99,`992,`9920,Incomplete description/ Wrongly Classifed,12,0,...,12,6,6,0,0,0,0,6,6,0

 The classical machine learning tasks like Data Exploration, Data Cleaning, Feature Engineering, Model Building and Model Testing.

In [61]:
FinalDf.head()

,Table Name,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
0,B0118,`08,`000,STATE - RAJASTHAN,`00,`000,`0000,Total,9017944,7594737,...,618445,2307752,1046813,1260939,1825830,749381,1076449,481922,297432,184490
1,B0118,`08,`000,STATE - RAJASTHAN,`01,`000,`0000,"Crop and animal production, hunting and relate...",450766,201572,...,19810,408728,76106,332622,390864,71124,319740,17864,4982,12882
2,B0118,`08,`000,STATE - RAJASTHAN,`01,`011,`0000,Growing of non-perennial crops,12876,10547,...,1013,9562,4051,5511,8147,3295,4852,1415,756,659
3,B0118,`08,`000,STATE - RAJASTHAN,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",12061,9911,...,942,9085,3883,5202,7777,3161,4616,1308,722,586
4,B0118,`08,`000,STATE - RAJASTHAN,`01,`011,`0112,Growing of rice,79,71,...,2,13,4,9,11,2,9,2,2,0

In [64]:
FinalDf.tail()

,Table Name,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
1060,B0218SC,`30,`586,District - South Goa,`99,`000,`0000,Activities of extraterritorial organizations a...,116,58,...,44,114,34,80,26,6,20,88,28,60
1061,B0218SC,`30,`586,District - South Goa,`99,`991,`0000,Blank,104,58,...,32,108,28,80,26,6,20,82,22,60
1062,B0218SC,`30,`586,District - South Goa,`99,`991,`9910,Blank,104,58,...,32,108,28,80,26,6,20,82,22,60
1063,B0218SC,`30,`586,District - South Goa,`99,`992,`0000,Incomplete description/ Wrongly Classifed,12,0,...,12,6,6,0,0,0,0,6,6,0
1064,B0218SC,`30,`586,District - South Goa,`99,`992,`9920,Incomplete description/ Wrongly Classifed,12,0,...,12,6,6,0,0,0,0,6,6,0

In [66]:
FinalDf.describe()

,Main Workers - Total - Persons,Main Workers - Total - Males,Main Workers - Total - Females,Main Workers - Rural - Persons,Main Workers - Rural - Males,Main Workers - Rural - Females,Main Workers - Urban - Persons,Main Workers - Urban - Males,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
count,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,1.951450e+05,195145.000000,195145.000000
mean,1.492138e+03,1.193171e+03,2.989664e+02,6.606187e+02,5.170353e+02,1.435834e+02,8.315188e+02,6.761358e+02,1.553830e+02,3.642672e+02,1.826322e+02,1.816350e+02,2.502286e+02,1.165241e+02,1.337045e+02,1.140386e+02,66.108094,47.930472
std,4.568169e+04,3.773917e+04,8.582019e+03,2.044436e+04,1.654295e+04,4.314446e+03,2.586781e+04,2.167339e+04,4.531593e+03,1.176940e+04,5.760575e+03,6.309699e+03,8.232274e+03,3.723078e+03,4.748460e+03,3.842889e+03,2132.581727,1803.271234
min,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,6.000000e+00,6.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,2.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
50%,2.800000e+01,2.300000e+01,3.000000e+00,1.200000e+01,8.000000e+00,0.000000e+00,1.200000e+01,9.000000e+00,0.000000e+00,4.000000e+00,2.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
75%,1.880000e+02,1.450000e+02,2.400000e+01,7.400000e+01,5.600000e+01,8.000000e+00,8.600000e+01,6.700000e+01,1.200000e+01,2.800000e+01,1.800000e+01,6.000000e+00,1.400000e+01,8.000000e+00,3.000000e+00,9.000000e+00,6.000000,2.000000
max,1.561976e+07,1.280140e+07,2.818356e+06,6.770444e+06,5.446541e+06,1.323903e+06,8.849315e+06,7.354862e+06,1.494453e+06,3.834122e+06,1.966750e+06,1.867372e+06,2.515182e+06,1.223824e+06,1.291358e+06,1.318940e+06,742926.000000,576014.000000

In [67]:
FinalDf.dtypes

Table Name                             object
State Code                             object
District Code                          object
India/States                           object
Division                               object
Group                                  object
Class                                  object
NIC Name                               object
Main Workers - Total -  Persons         int64
Main Workers - Total - Males            int64
Main Workers - Total - Females          int64
Main Workers - Rural -  Persons         int64
Main Workers - Rural - Males            int64
Main Workers - Rural - Females          int64
Main Workers - Urban -  Persons         int64
Main Workers - Urban - Males            int64
Main Workers - Urban - Females          int64
Marginal Workers - Total -  Persons     int64
Marginal Workers - Total - Males        int64
Marginal Workers - Total - Females      int64
Marginal Workers - Rural -  Persons     int64
Marginal Workers - Rural - Males        int64
Marginal Workers - Rural - Females      int64
Marginal Workers - Urban -  Persons     int64
Marginal Workers - Urban - Males        int64
Marginal Workers - Urban - Females      int64
dtype: object

In [68]:
FinalDf.shape

(195145, 26)

In [70]:
FinalDf.size

5073770

In [72]:
FinalDf.sample(n=500)

,Table Name,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
5741,B0318ST,`18,`313,District - Golaghat,`45,`451,`0000,Sale of motor vehicles,2,2,...,0,0,0,0,0,0,0,0,0,0
10143,B0318ST,`09,`200,District - Sonbhadra,`98,`981,`9810,Undifferentiated goods-producing activities of...,1,1,...,0,0,0,0,0,0,0,0,0,0
2425,B0318ST,`13,`265,District - Dimapur,`15,`151,`1512,"Manufacture of luggage, handbags and the like,...",4,2,...,2,0,0,0,0,0,0,0,0,0
4779,B0218SC,`24,`476,District - Rajkot,`81,`812,`0000,Cleaning activities,174,125,...,49,20,6,14,0,0,0,20,6,14
6983,B0318ST,`21,`385,District - Nayagarh,`90,`900,`0000,"Creative, arts and entertainment activities",0,0,...,0,4,4,0,4,4,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1978,B0218SC,`07,`092,District - North East,`05,`052,`0520,Mining of lignite,2,0,...,2,0,0,0,0,0,0,0,0,0
21236,B0118,`08,`131,District - Pratapgarh,`27,`273,`2732,Manufacture of other electronic and electric w...,1,1,...,0,0,0,0,0,0,0,0,0,0
10419,B0218SC,`24,`492,District - Surat,`12,`120,`0000,Manufacture of tobacco products,6,6,...,0,0,0,0,0,0,0,0,0,0
5916,B0118,`19,`334,District - Birbhum,`80,`801,`0000,Private security activities,444,430,...,6,34,34,0,32,32,0,2,2,0
13642,B0218SC,`27,`522,District - Ahmadnagar,`26,`263,`2630,Manufacture of communication equipment,9,9,...,0,3,0,3,3,0,3,0,0,0

In [75]:
FinalDf.isnull().sum()

Table Name                             0
State Code                             0
District Code                          0
India/States                           0
Division                               0
Group                                  0
Class                                  0
NIC Name                               0
Main Workers - Total -  Persons        0
Main Workers - Total - Males           0
Main Workers - Total - Females         0
Main Workers - Rural -  Persons        0
Main Workers - Rural - Males           0
Main Workers - Rural - Females         0
Main Workers - Urban -  Persons        0
Main Workers - Urban - Males           0
Main Workers - Urban - Females         0
Marginal Workers - Total -  Persons    0
Marginal Workers - Total - Males       0
Marginal Workers - Total - Females     0
Marginal Workers - Rural -  Persons    0
Marginal Workers - Rural - Males       0
Marginal Workers - Rural - Females     0
Marginal Workers - Urban -  Persons    0
Marginal Workers - Urban - Males       0
Marginal Workers - Urban - Females     0
dtype: int64

In [78]:
FinalDf.duplicated().sum()

0

In [89]:
FinalDf.rename(columns = {'India/States':'States'}, inplace = True)

In [90]:
FinalDf.States.unique()

array(['STATE - RAJASTHAN', 'District - Ganganagar',
       'District - Hanumangarh', 'District - Bikaner', 'District - Churu',
       'District - Jhunjhunun', 'District - Alwar',
       'District - Bharatpur', 'District - Dhaulpur',
       'District - Karauli', 'District - Sawai Madhopur',
       'District - Dausa', 'District - Jaipur', 'District - Sikar',
       'District - Nagaur', 'District - Jodhpur', 'District - Jaisalmer',
       'District - Barmer', 'District - Jalor', 'District - Sirohi',
       'District - Pali', 'District - Ajmer', 'District - Tonk',
       'District - Bundi', 'District - Bhilwara', 'District - Rajsamand',
       'District - Dungarpur', 'District - Banswara',
       'District - Chittaurgarh', 'District - Kota', 'District - Baran',
       'District - Jhalawar', 'District - Udaipur',
       'District - Pratapgarh', 'STATE - MANIPUR', 'District - Senapati',
       'District - Tamenglong', 'District - Churachandpur',
       'District - Bishnupur', 'District - Thoubal',
       'District - Imphal West', 'District - Imphal East',
       'District - Ukhrul', 'District - Chandel', 'STATE - ASSAM',
       'District - Kokrajhar', 'District - Dhubri', 'District - Goalpara',
       'District - Barpeta', 'District - Morigaon', 'District - Nagaon',
       'District - Sonitpur', 'District - Lakhimpur',
       'District - Dhemaji', 'District - Tinsukia',
       'District - Dibrugarh', 'District - Sivasagar',
       'District - Jorhat', 'District - Golaghat',
       'District - Karbi Anglong', 'District - Dima Hasao',
       'District - Cachar', 'District - Karimganj',
       'District - Hailakandi', 'District - Bongaigaon',
       'District - Chirang', 'District - Kamrup',
       'District - Kamrup Metropolitan', 'District - Nalbari',
       'District - Baksa', 'District - Darrang', 'District - Udalguri',
       'STATE - UTTAR PRADESH', 'District - Saharanpur',
       'District - Muzaffarnagar', 'District - Bijnor',
       'District - Moradabad', 'District - Rampur',
       'District - Jyotiba Phule Nagar', 'District - Meerut',
       'District - Baghpat', 'District - Ghaziabad',
       'District - Gautam Buddha Nagar', 'District - Bulandshahr',
       'District - Aligarh', 'District - Mahamaya Nagar',
       'District - Mathura', 'District - Agra', 'District - Firozabad',
       'District - Mainpuri', 'District - Budaun', 'District - Bareilly',
       'District - Pilibhit', 'District - Shahjahanpur',
       'District - Kheri', 'District - Sitapur', 'District - Hardoi',
       'District - Unnao', 'District - Lucknow', 'District - Rae Bareli',
       'District - Farrukhabad', 'District - Kannauj',
       'District - Etawah', 'District - Auraiya',
       'District - Kanpur Dehat', 'District - Kanpur Nagar',
       'District - Jalaun', 'District - Jhansi', 'District - Lalitpur',
       'District - Hamirpur', 'District - Mahoba', 'District - Banda',
       'District - Chitrakoot', 'District - Fatehpur',
       'District - Kaushambi', 'District - Allahabad',
       'District - Bara Banki', 'District - Faizabad',
       'District - Ambedkar Nagar', 'District - Sultanpur',
       'District - Bahraich', 'District - Shrawasti',
       'District - Balrampur', 'District - Gonda',
       'District - Siddharthnagar', 'District - Basti',
       'District - Sant Kabir Nagar', 'District - Mahrajganj',
       'District - Gorakhpur', 'District - Kushinagar',
       'District - Deoria', 'District - Azamgarh', 'District - Mau',
       'District - Ballia', 'District - Jaunpur', 'District - Ghazipur',
       'District - Chandauli', 'District - Varanasi',
       'District - Sant Ravidas Nagar (Bhadohi)', 'District - Mirzapur',
       'District - Sonbhadra', 'District - Etah',
       'District - Kanshiram Nagar', 'STATE - ODISHA',
       'District - Bargarh', 'District - Jharsuguda',
       'District - Sambalpur', 'District - Debagarh',
       'District - Sundargarh', 'District - Kendujhar',
       'District - Mayurbhanj', 'District - Baleshwar',
       'District - Bhadrak', 'District - Kendrapara',
       'District - Jagatsinghapur', 'District - Cuttack',
       'District - Jajapur', 'District - Dhenkanal', 'District - Anugul',
       'District - Nayagarh', 'District - Khordha', 'District - Puri',
       'District - Ganjam', 'District - Gajapati', 'District - Kandhamal',
       'District - Baudh', 'District - Subarnapur', 'District - Balangir',
       'District - Nuapada', 'District - Kalahandi',
       'District - Rayagada', 'District - Nabarangapur',
       'District - Koraput', 'District - Malkangiri',
       'STATE - WEST BENGAL', 'District - Darjiling',
       'District - Jalpaiguri', 'District - Koch Bihar',
       'District - Uttar Dinajpur', 'District - Dakshin Dinajpur',
       'District - Maldah', 'District - Murshidabad',
       'District - Birbhum', 'District - Barddhaman', 'District - Nadia',
       'District - North Twenty Four Parganas', 'District - Hugli',
       'District - Bankura', 'District - Puruliya', 'District - Haora',
       'District - Kolkata', 'District - South Twenty Four Parganas',
       'District - Paschim Medinipur', 'District - Purba Medinipur',
       'STATE - JHARKHAND', 'District - Garhwa', 'District - Chatra',
       'District - Kodarma', 'District - Giridih', 'District - Deoghar',
       'District - Godda', 'District - Sahibganj', 'District - Pakur',
       'District - Dhanbad', 'District - Bokaro', 'District - Lohardaga',
       'District - Purbi Singhbhum', 'District - Palamu',
       'District - Latehar', 'District - Hazaribagh',
       'District - Ramgarh', 'District - Dumka', 'District - Jamtara',
       'District - Ranchi', 'District - Khunti', 'District - Gumla',
       'District - Simdega', 'District - Pashchimi Singhbhum',
       'District - Saraikela-Kharsawan', 'STATE - GUJARAT',
       'District - Kachchh', 'District - Banas Kantha',
       'District - Patan', 'District - Mahesana',
       'District - Sabar Kantha', 'District - Gandhinagar',
       'District - Ahmadabad', 'District - Surendranagar',
       'District - Rajkot', 'District - Jamnagar', 'District - Porbandar',
       'District - Junagadh', 'District - Amreli', 'District - Bhavnagar',
       'District - Anand', 'District - Kheda', 'District - Panch Mahals',
       'District - Dohad', 'District - Vadodara', 'District - Narmada',
       'District - Bharuch', 'District - The Dangs', 'District - Navsari',
       'District - Valsad', 'District - Surat', 'District - Tapi',
       'STATE - NCT OF DELHI', 'District - North West',
       'District - North', 'District - North East', 'District - East',
       'District - New Delhi', 'District - Central', 'District - West',
       'District - South West', 'District - South', 'STATE - MAHARASHTRA',
       'District - Nandurbar', 'District - Dhule', 'District - Jalgaon',
       'District - Buldana', 'District - Akola', 'District - Washim',
       'District - Amravati', 'District - Wardha', 'District - Nagpur',
       'District - Bhandara', 'District - Gondiya',
       'District - Gadchiroli', 'District - Chandrapur',
       'District - Yavatmal', 'District - Nanded', 'District - Hingoli',
       'District - Parbhani', 'District - Jalna', 'District - Aurangabad',
       'District - Nashik', 'District - Thane',
       'District - Mumbai Suburban', 'District - Mumbai',
       'District - Raigarh', 'District - Pune', 'District - Ahmadnagar',
       'District - Bid', 'District - Latur', 'District - Osmanabad',
       'District - Solapur', 'District - Satara', 'District - Ratnagiri',
       'District - Sindhudurg', 'District - Kolhapur',
       'District - Sangli', 'STATE - UTTARAKHAND',
       'District - Uttarkashi', 'District - Chamoli',
       'District - Rudraprayag', 'District - Tehri Garhwal',
       'District - Dehradun', 'District - Garhwal',
       'District - Pithoragarh', 'District - Bageshwar',
       'District - Almora', 'District - Champawat', 'District - Nainital',
       'District - Udham Singh Nagar', 'District - Hardwar',
       'STATE - TAMIL NADU', 'District - Thiruvallur',
       'District - Chennai', 'District - Kancheepuram',
       'District - Vellore', 'District - Tiruvannamalai',
       'District - Viluppuram', 'District - Salem', 'District - Namakkal',
       'District - Erode', 'District - The Nilgiris',
       'District - Dindigul', 'District - Karur',
       'District - Tiruchirappalli', 'District - Perambalur',
       'District - Ariyalur', 'District - Cuddalore',
       'District - Nagapattinam', 'District - Thiruvarur',
       'District - Thanjavur', 'District - Pudukkottai',
       'District - Sivaganga', 'District - Madurai', 'District - Theni',
       'District - Virudhunagar', 'District - Ramanathapuram',
       'District - Thoothukkudi', 'District - Tirunelveli',
       'District - Kanniyakumari', 'District - Dharmapuri',
       'District - Krishnagiri', 'District - Coimbatore',
       'District - Tiruppur', 'STATE - SIKKIM',
       'District - North  District', 'District - West District',
       'District - South District', 'District - East District',
       'STATE - KERALA', 'District - Kasaragod', 'District - Kannur',
       'District - Wayanad', 'District - Kozhikode',
       'District - Malappuram', 'District - Palakkad',
       'District - Thrissur', 'District - Ernakulam', 'District - Idukki',
       'District - Kottayam', 'District - Alappuzha',
       'District - Pathanamthitta', 'District - Kollam',
       'District - Thiruvananthapuram', 'STATE - PUDUCHERRY',
       'District - Yanam', 'District - Puducherry', 'District - Mahe',
       'District - Karaikal', 'STATE - MIZORAM', 'District - Mamit',
       'District - Kolasib', 'District - Aizawl', 'District - Champhai',
       'District - Serchhip', 'District - Lunglei',
       'District - Lawngtlai', 'District - Saiha', 'STATE - TRIPURA',
       'District - West Tripura', 'District - South Tripura',
       'District - Dhalai', 'District - North Tripura',
       'STATE - KARNATAKA', 'District - Belgaum', 'District - Bagalkot',
       'District - Bijapur', 'District - Bidar', 'District - Raichur',
       'District - Koppal', 'District - Gadag', 'District - Dharwad',
       'District - Uttara Kannada', 'District - Haveri',
       'District - Bellary', 'District - Chitradurga',
       'District - Davanagere', 'District - Shimoga', 'District - Udupi',
       'District - Chikmagalur', 'District - Tumkur',
       'District - Bangalore', 'District - Mandya', 'District - Hassan',
       'District - Dakshina Kannada', 'District - Kodagu',
       'District - Mysore', 'District - Chamarajanagar',
       'District - Gulbarga', 'District - Yadgir', 'District - Kolar',
       'District - Chikkaballapura', 'District - Bangalore Rural',
       'District - Ramanagara', 'STATE - BIHAR',
       'District - Pashchim Champaran', 'District - Purba Champaran',
       'District - Sheohar', 'District - Sitamarhi',
       'District - Madhubani', 'District - Supaul', 'District - Araria',
       'District - Kishanganj', 'District - Purnia', 'District - Katihar',
       'District - Madhepura', 'District - Saharsa',
       'District - Darbhanga', 'District - Muzaffarpur',
       'District - Gopalganj', 'District - Siwan', 'District - Saran',
       'District - Vaishali', 'District - Samastipur',
       'District - Begusarai', 'District - Khagaria',
       'District - Bhagalpur', 'District - Banka', 'District - Munger',
       'District - Lakhisarai', 'District - Sheikhpura',
       'District - Nalanda', 'District - Patna', 'District - Bhojpur',
       'District - Buxar', 'District - Kaimur (Bhabua)',
       'District - Rohtas', 'District - Gaya', 'District - Nawada',
       'District - Jamui', 'District - Jehanabad', 'District - Arwal',
       'STATE - ARUNACHAL PRADESH', 'District - Tawang',
       'District - West Kameng', 'District - East Kameng',
       'District - Papum Pare', 'District - Upper Subansiri',
       'District - West Siang', 'District - East Siang',
       'District - Upper Siang', 'District - Changlang',
       'District - Tirap', 'District - Lower Subansiri',
       'District - Kurung Kumey', 'District - Dibang Valley',
       'District - Lower Dibang Valley', 'District - Lohit',
       'District - Anjaw', 'STATE - NAGALAND', 'District - Mon',
       'District - Mokokchung', 'District - Zunheboto',
       'District - Wokha', 'District - Dimapur', 'District - Phek',
       'District - Tuensang', 'District - Longleng', 'District - Kiphire',
       'District - Kohima', 'District - Peren',
       'STATE - HIMACHAL PRADESH', 'District - Chamba',
       'District - Kangra', 'District - Lahul & Spiti',
       'District - Kullu', 'District - Mandi', 'District - Una',
       'District - Bilaspur', 'District - Solan', 'District - Sirmaur',
       'District - Shimla', 'District - Kinnaur', 'STATE - GOA',
       'District - North Goa', 'District - South Goa'], dtype=object)

In [91]:
FinalDf.States.value_counts()

STATE - WEST BENGAL                      749
STATE - RAJASTHAN                        748
District - North Twenty Four Parganas    743
STATE - KARNATAKA                        741
STATE - TAMIL NADU                       736
                                        ...
District - Kaushambi                      12
District - Mahe                           12
District - Kannauj                        10
District - Mainpuri                        9
District - Baghpat                         4
Name: States, Length: 491, dtype: int64

In [93]:
FinalDf.columns

Index(['Table Name', 'State Code', 'District Code', 'States', 'Division',
       'Group', 'Class', 'NIC Name', 'Main Workers - Total -  Persons',
       'Main Workers - Total - Males', 'Main Workers - Total - Females',
       'Main Workers - Rural -  Persons', 'Main Workers - Rural - Males',
       'Main Workers - Rural - Females', 'Main Workers - Urban -  Persons',
       'Main Workers - Urban - Males', 'Main Workers - Urban - Females',
       'Marginal Workers - Total -  Persons',
       'Marginal Workers - Total - Males',
       'Marginal Workers - Total - Females',
       'Marginal Workers - Rural -  Persons',
       'Marginal Workers - Rural - Males',
       'Marginal Workers - Rural - Females',
       'Marginal Workers - Urban -  Persons',
       'Marginal Workers - Urban - Males',
       'Marginal Workers - Urban - Females'],
      dtype='object')

In [95]:
df = pd.DataFrame(FinalDf.States.value_counts())

In [96]:
df

                                       States
STATE - WEST BENGAL                       749
STATE - RAJASTHAN                         748
District - North Twenty Four Parganas     743
STATE - KARNATAKA                         741
STATE - TAMIL NADU                        736
...                                       ...
District - Kaushambi                       12
District - Mahe                            12
District - Kannauj                         10
District - Mainpuri                         9
District - Baghpat                          4

[491 rows x 1 columns]