<a href="https://colab.research.google.com/github/n3rdankit/Data-Science-and-Machine-Learning/blob/main/Industrial_Human_Resource_Geo-Visualization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Industrial_Human_Resource_Geo-Visualization

Steps

1. Loading the data
2. Descriptive Statistics
3. Data Cleaning
4. Data Analysis and Transformation

Load and Merge all the csv data file provided to you and create dataframe

In [1]:
import pandas as pd

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [46]:
import os

In [49]:
path_dir = '/content/drive/MyDrive/Data Sets/'
for files in os.listdir(path_dir):
  print(files)

DDW_B18_0800_NIC_FINAL_STATE_RAJASTHAN-2011.csv
DDW_B18_1400_NIC_FINAL_STATE_MANIPUR-2011.csv
DDW_B18st_1800_NIC_FINAL_STATE_ASSAM-2011.csv
DDW_B18st_0900_NIC_FINAL_STATE_UTTAR_PRADESH-2011.csv
DDW_B18st_2100_NIC_FINAL_STATE_ODISHA-2011.csv
DDW_B18_1900_NIC_FINAL_STATE_WEST_BENGAL-2011.csv
DDW_B18sc_2000_NIC_FINAL_STATE_JHARKHAND-2011.csv
DDW_B18sc_2400_NIC_FINAL_STATE_GUJARAT-2011.csv
DDW_B18sc_0700_NIC_FINAL_STATE_NCT_OF_DELHI-2011.csv
DDW_B18sc_2700_NIC_FINAL_STATE_MAHARASHTRA-2011.csv
DDW_B18st_0500_NIC_FINAL_STATE_UTTARAKHAND-2011.csv
DDW_B18sc_3300_NIC_FINAL_STATE_TAMIL_NADU-2011.csv
DDW_B18st_1100_NIC_FINAL_STATE_SIKKIM-2011.csv
DDW_B18sc_3200_NIC_FINAL_STATE_KERALA-2011.csv
DDW_B18sc_3400_NIC_FINAL_STATE_PUDUCHERRY-2011.csv
DDW_B18_1500_NIC_FINAL_STATE_MIZORAM-2011.csv
DDW_B18sc_1600_NIC_FINAL_STATE_TRIPURA-2011.csv
DDW_B18sc_2900_NIC_FINAL_STATE_KARNATAKA-2011.csv
DDW_B18st_1000_NIC_FINAL_STATE_BIHAR-2011.csv
DDW_B18_1200_NIC_FINAL_STATE_ARUNACHAL_PRADESH-2011.csv
DDW_B18st_1300_NIC_FINAL_STATE_NAGALAND-2011.csv
DDW_B18st_0200_NIC_FINAL_STATE_HIMACHAL_PRADESH-2011.csv
DDW_B18sc_3000_NIC_FINAL_STATE_GOA-2011.csv

In [60]:
FinalDf=pd.DataFrame()

for files in os.listdir(path_dir):
  DataFrame=pd.read_csv('/content/drive/MyDrive/Data Sets/' + files, encoding = 'ISO-8859-1')
  FinalDf=pd.concat([FinalDf,DataFrame])

In [58]:
FinalDf

,Table Name,State Code,District Code,India/States,Division,Group,Class,NIC Name,Main Workers - Total - Persons,Main Workers - Total - Males,...,Main Workers - Urban - Females,Marginal Workers - Total - Persons,Marginal Workers - Total - Males,Marginal Workers - Total - Females,Marginal Workers - Rural - Persons,Marginal Workers - Rural - Males,Marginal Workers - Rural - Females,Marginal Workers - Urban - Persons,Marginal Workers - Urban - Males,Marginal Workers - Urban - Females
0,B0118,`08,`000,STATE - RAJASTHAN,`00,`000,`0000,Total,9017944,7594737,...,618445,2307752,1046813,1260939,1825830,749381,1076449,481922,297432,184490
1,B0118,`08,`000,STATE - RAJASTHAN,`01,`000,`0000,"Crop and animal production, hunting and relate...",450766,201572,...,19810,408728,76106,332622,390864,71124,319740,17864,4982,12882
2,B0118,`08,`000,STATE - RAJASTHAN,`01,`011,`0000,Growing of non-perennial crops,12876,10547,...,1013,9562,4051,5511,8147,3295,4852,1415,756,659
3,B0118,`08,`000,STATE - RAJASTHAN,`01,`011,`0111,"Growing of cereals (except rice), leguminous c...",12061,9911,...,942,9085,3883,5202,7777,3161,4616,1308,722,586
4,B0118,`08,`000,STATE - RAJASTHAN,`01,`011,`0112,Growing of rice,79,71,...,2,13,4,9,11,2,9,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1060,B0218SC,`30,`586,District - South Goa,`99,`000,`0000,Activities of extraterritorial organizations a...,116,58,...,44,114,34,80,26,6,20,88,28,60
1061,B0218SC,`30,`586,District - South Goa,`99,`991,`0000,Blank,104,58,...,32,108,28,80,26,6,20,82,22,60
1062,B0218SC,`30,`586,District - South Goa,`99,`991,`9910,Blank,104,58,...,32,108,28,80,26,6,20,82,22,60
1063,B0218SC,`30,`586,District - South Goa,`99,`992,`0000,Incomplete description/ Wrongly Classifed,12,0,...,12,6,6,0,0,0,0,6,6,0
1064,B0218SC,`30,`586,District - South Goa,`99,`992,`9920,Incomplete description/ Wrongly Classifed,12,0,...,12,6,6,0,0,0,0,6,6,0